@use 'colors' as c;
@use 'font' as f;


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: c.$black;
    background-color: c.$white;
    font-family: f.$font;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}